@font-face {
  font-family: "Open_Sans";
  font-display: swap;
  src: url("style/Open_Sans/OpenSans-Light.ttf");
  src: local("O"), url("style/Open_Sans/OpenSans-Light.ttf") format("truetype"), url("style/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("style/Raleway/static/Raleway-Light.ttf");
  src: local("O"), url("style/Raleway/static/Raleway-Light.ttf") format("truetype"), url("style/Raleway/static/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poiret_One";
  font-display: swap;
  src: url("style/Poiret_One/PoiretOne-Regular.ttf");
  src: local("O"), url("style/Poiret_One/PoiretOne-Regular.ttf") format("truetype"), url("style/Poiret_One/PoiretOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  font-display: swap;
  src: url("style/Comfortaa/Comfortaa-VariableFont_wght.ttf");
  src: local("O"), url("style/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype"), url("style/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Amatic_SC";
  font-display: swap;
  src: url("style/Amatic_SC/AmaticSC-Bold.ttf");
  src: local("O"), url("style/Amatic_SC/AmaticSC-Bold.ttf") format("truetype"), url("style/Amatic_SC/AmaticSC-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat_Alternates";
  font-display: swap;
  src: url("style/Montserrat_Alternates/MontserratAlternates-Light.ttf");
  src: local("O"), url("style/Montserrat_Alternates/MontserratAlternates-Light.ttf") format("truetype"), url("style/Montserrat_Alternates/MontserratAlternates-Light.ttf") format("truetype");
  font-weight: 1000;
  font-style: normal;
}
@font-face {
  font-family: "Bad_Script";
  font-display: swap;
  src: url("style/Bad_Script/BadScript-Regular.ttf");
  src: local("O"), url("style/Bad_Script/BadScript-Regular.ttf") format("truetype"), url("style/Bad_Script/BadScript-Regular.ttf") format("truetype");
  font-weight: 1000;
  font-style: normal;
}
@font-face {
  font-family: "Kiwi_Maru";
  font-display: swap;
  src: url("style/Kiwi_Maru/KiwiMaru-Regular.ttf");
  src: local("0"), url("style/Kiwi_Maru/KiwiMaru-Regular.ttf") format("truetype"), url("style/Kiwi_Maru/KiwiMaru-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Train_One";
  font-display: swap;
  src: url("style/Train_One/TrainOne-Regular.ttf");
  src: local("0"), url("style/Train_One/TrainOne-Regular.ttf") format("truetype"), url("style/Train_One/TrainOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("style/Merriweather/Merriweather-Light.ttf");
  src: local("0"), url("style/Merriweather/Merriweather-Light.ttf") format("truetype"), url("style/Merriweather/Merriweather-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "New_Tegomin";
  font-display: swap;
  src: url("style/New_Tegomin/NewTegomin-Regular.ttf");
  src: local("0"), url("style/New_Tegomin/NewTegomin-Regular.ttf") format("truetype"), url("style/New_Tegomin/NewTegomin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caveat";
  font-display: swap;
  src: url("style/Caveat/Caveat-VariableFont_wght.ttf");
  src: local("0"), url("style/Caveat/Caveat-VariableFont_wght.ttf") format("truetype"), url("style/Caveat/Caveat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}

.menu {
  background: #F39C12;
  position: fixed;
  width: 100%;
  z-index: 100;
  -webkit-user-select: none;
          user-select: none;
}

.menu a {
  text-decoration: none;
}

.menu nav {
  position: relative;
  display: flex;
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

nav .content {
  display: flex;
}

nav .content .links {
  margin-left: 80px;
  display: flex;
}

.logph {
  width: 70px;
  height: 50px;
  margin-left: 350px;
  margin-top: 10px;
}

.content .links li {
  list-style: none;
  line-height: 70px;
}

.content .links li a,
.content .links li label {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  font-family: "Comfortaa";
  transition: all 0.3s ease;
}

.content .links li label {
  display: none;
}

.content .links .hover:hover {
  text-decoration: line-through;
  transition: 10s ease-in-out;
}

.hover_1 {
  text-decoration: line-through;
}

.menu .menu-icon {
  display: none;
}

.menu input[type=checkbox] {
  display: none;
}

.content .links ul {
  position: absolute;
  background: #f39c12;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.content .links li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}

.content .links ul li a:hover {
  color: #e91e63;
  background-color: white;
}

/* fini menu*/
header {
  -webkit-user-select: none;
          user-select: none;
  /*p*/
}
header .video_1 {
  margin-left: 0px;
  margin-top: 70px;
  position: absolute;
  z-index: 10;
}
header .video_1 iframe {
  height: 750px;
  width: 1688px;
}
header .p {
  position: absolute;
  z-index: 11;
}
header .p .p_1 {
  color: white;
  font-size: 50px;
  font-family: "Comfortaa";
  margin-top: 300px;
  margin-left: 120px;
}
header .p .p_2 {
  color: white;
  font-size: 50px;
  font-family: "Comfortaa";
  margin-top: 20px;
  margin-left: 90px;
}
header .p .p_3 {
  margin-top: 20px;
  color: white;
  font-size: 50px;
  font-family: "Comfortaa";
  margin-left: 40px;
}

/*second video*/
.block_button {
  -webkit-user-select: none;
          user-select: none;
}
.block_button .buttona {
  position: absolute;
  margin-top: 300px;
  margin-left: 1100px;
  z-index: 50;
}
.block_button .buttona img {
  height: 300px;
}
.block_button .lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  height: 7335px;
}
.block_button .lightbox:target {
  display: block;
  position: absolute;
}
.block_button .lightbox span iframe {
  position: absolute;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  margin-top: 70px;
  height: 780px;
  width: 1685px;
}

#demo {
  color: white;
  position: absolute;
  font-size: 40px;
  z-index: 17;
  font-family: "Bad_Script";
  width: 700px;
  margin-top: 2630px;
  margin-left: 300px;
}

.demo {
  display: none;
}

.button {
  position: absolute;
  border-radius: 100%;
  z-index: 17;
  margin-top: 2595px;
  margin-left: 1100px;
  height: 100px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
}
.button img {
  height: 90px;
}

.button:focus {
  outline: none;
  border: none;
  border-radius: 100%;
}

main {
  /*info_about_people*/
}
main .first_block {
  position: absolute;
  -webkit-user-select: none;
          user-select: none;
}
main .first_block .yellow {
  position: absolute;
  width: 1718px;
  height: 132px;
  margin-left: -30px;
  margin-top: 820px;
  background-color: #F2FFB0;
  z-index: 1;
}
main .first_block .p_text {
  width: 1717px;
  margin-top: 875px;
  margin-left: -30px;
  padding-bottom: 40px;
  z-index: 3;
  background-color: #F2FFB0;
  position: absolute;
  text-align: center;
  transform: rotate(-3.66deg);
  box-shadow: 0 14px 28px black;
}
main .first_block .p_text p {
  font-family: "Poiret_One";
  animation: animate 3s liner infinite;
  background-color: liner-gradient(90deg, #F2FFB0, #000, #F2FFB0);
  background-repeat: no-repeat;
  font-size: 50px;
}
main .second_block {
  -webkit-user-select: none;
          user-select: none;
  /*first start*/
}
main .second_block .img_for_two_blocks .img_1 {
  position: absolute;
  z-index: 14;
}
main .second_block .img_for_two_blocks .img_1 img {
  width: 100px;
  height: 100%;
  object-fit: cover;
  margin-top: 910px;
  margin-left: -50px;
}
main .second_block .img_for_two_blocks .img_2 {
  position: absolute;
  margin-top: 850px;
  z-index: 14;
  margin-left: 1050px;
}
main .second_block .img_for_two_blocks .img_2 img {
  width: 130px;
}
main .second_block .img_for_two_blocks .img_3 {
  position: absolute;
  z-index: 5;
  margin-top: 1200px;
  margin-left: -20px;
}
main .second_block .img_for_two_blocks .img_3 img {
  width: 130px;
}
main .second_block .img_for_two_blocks .img_4 {
  position: absolute;
  z-index: 5;
  margin-top: 1500px;
  margin-left: 100px;
}
main .second_block .img_for_two_blocks .img_4 img {
  width: 130px;
}
main .second_block .img_for_two_blocks .img_5 {
  position: absolute;
  z-index: 4;
  margin-left: 1590px;
  margin-top: 1300px;
}
main .second_block .img_for_two_blocks .img_5 img {
  width: 140px;
}
main .second_block .img_for_two_blocks .img_6 {
  position: absolute;
  z-index: 14;
  margin-left: 1500px;
  margin-top: 1450px;
}
main .second_block .img_for_two_blocks .img_6 img {
  width: 130px;
}
main .second_block .feol {
  position: absolute;
  background-color: #E7A3FF;
  transform: rotate(-3.66deg);
  margin-top: 960px;
  margin-left: -30px;
  width: 1716px;
  height: 115px;
  z-index: 3;
}
main .second_block .info_block {
  background-color: #E7A3FF;
  width: 1687px;
  height: 1750px;
  margin-top: 1020px;
  position: absolute;
  -webkit-user-select: none;
          user-select: none;
  z-index: 12;
  /*first end*/
  /*second_start*/
  /*second_end*/
  /*third_start*/
  /*third_end*/
  /*fourth_start*/
  /*fourth_end*/
  /*fifth_start*/
  /*fifth_end*/
  /*sixth_start*/
  /*sixth_end*/
  /*seventh_start*/
  /*seventh_end*/
  /*eighth_start*/
  /*eighth_end*/
}
main .second_block .info_block .first .img_1 {
  border-radius: 306.5px;
  width: 300px;
  height: 302px;
  margin-top: 100px;
  margin-left: 150px;
  position: absolute;
  z-index: 4;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
}
main .second_block .info_block .first .img_2 {
  position: absolute;
  height: 80px;
  margin-left: 360px;
  margin-top: 80px;
  z-index: 5;
}
main .second_block .info_block .first .name_first {
  background-color: #FF8C7D;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  z-index: 4;
  position: absolute;
  margin-top: 325px;
  margin-left: 130px;
  transition: width 1s;
}
main .second_block .info_block .first .name_first .old {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
  opacity: 1;
}
main .second_block .info_block .first .name_first .new {
  opacity: 0;
  font-family: "Amatic_SC";
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: -50px;
}
main .second_block .info_block .first .name_first:hover {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
}
main .second_block .info_block .first .name_first:hover .old {
  opacity: 0;
}
main .second_block .info_block .first .name_first:hover .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}
main .second_block .info_block .img_1:hover ~ .name_first {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
  background-color: #FF8C7D;
  height: 80px;
  z-index: 4;
  position: absolute;
  margin-top: 325px;
  margin-left: 130px;
}
main .second_block .info_block .img_1:hover ~ .name_first .old {
  opacity: 0;
}
main .second_block .info_block .img_1:hover ~ .name_first .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}
main .second_block .info_block .second .img_1 {
  margin-top: 100px;
  margin-left: 700px;
  border-radius: 100%;
  width: 300px;
  height: 302px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
  z-index: 4;
  display: block;
  position: absolute;
}
main .second_block .info_block .second .img_2 {
  z-index: 5;
  height: 80px;
  margin-left: 915px;
  margin-top: 80px;
  position: absolute;
}
main .second_block .info_block .second .name_second {
  background-color: #FFAC59;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  margin-top: 330px;
  margin-left: 680px;
  z-index: 5;
  transition: width 1s;
}
main .second_block .info_block .second .name_second .old {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
  opacity: 1;
}
main .second_block .info_block .second .name_second .new {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
  opacity: 0;
  margin-top: -65px;
}
main .second_block .info_block .second .name_second:hover {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
}
main .second_block .info_block .second .name_second:hover .old {
  opacity: 0;
}
main .second_block .info_block .second .name_second:hover .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}
main .second_block .info_block .img_1:hover ~ .name_second {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
  height: 80px;
  position: absolute;
  background-color: #FFAC59;
  height: 80px;
  margin-top: 330px;
  margin-left: 680px;
  z-index: 5;
}
main .second_block .info_block .img_1:hover ~ .name_second .old {
  opacity: 0;
}
main .second_block .info_block .img_1:hover ~ .name_second .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}
main .second_block .info_block .third {
  position: absolute;
  z-index: 4;
}
main .second_block .info_block .third .img_1 {
  border-radius: 100%;
  width: 300px;
  height: 302px;
  margin-top: 100px;
  margin-left: 1250px;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
}
main .second_block .info_block .third .img_2 {
  position: absolute;
  z-index: 5;
  height: 80px;
  margin-left: 1470px;
  margin-top: 80px;
  border-radius: 100%;
}
main .second_block .info_block .third .name_third {
  position: absolute;
  background-color: #D7EB00;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  z-index: 4;
  margin-left: 1230px;
  margin-top: 330px;
  transition: width 1s;
}
main .second_block .info_block .third .name_third .old {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
  opacity: 1;
}
main .second_block .info_block .third .name_third .new {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
  opacity: 0;
  margin-top: -65px;
}
main .second_block .info_block .third .name_third:hover {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
}
main .second_block .info_block .third .name_third:hover .old {
  opacity: 0;
}
main .second_block .info_block .third .name_third:hover .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}
main .second_block .info_block .img_1:hover ~ .name_third {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
  height: 80px;
  position: absolute;
  background-color: #D7EB00;
  z-index: 4;
  margin-left: 1230px;
  margin-top: 330px;
}
main .second_block .info_block .img_1:hover ~ .name_third .old {
  opacity: 0;
}
main .second_block .info_block .img_1:hover ~ .name_third .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}
main .second_block .info_block .fourth {
  position: absolute;
}
main .second_block .info_block .fourth .img_1 {
  border-radius: 100%;
  width: 300px;
  height: 302px;
  z-index: 4;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
  margin-top: 560px;
  margin-left: 150px;
  position: absolute;
}
main .second_block .info_block .fourth .img_2 {
  position: absolute;
  z-index: 5;
  height: 80px;
  margin-left: 370px;
  margin-top: 550px;
}
main .second_block .info_block .fourth .name_fourth {
  position: absolute;
  z-index: 5;
  background-color: #7CFF37;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  transition: width 1s;
  margin-top: 790px;
  margin-left: 125px;
}
main .second_block .info_block .fourth .name_fourth .old {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
  opacity: 1;
}
main .second_block .info_block .fourth .name_fourth .new {
  opacity: 0;
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
  margin-top: -65px;
}
main .second_block .info_block .fourth .name_fourth:hover {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
}
main .second_block .info_block .fourth .name_fourth:hover .old {
  opacity: 0;
}
main .second_block .info_block .fourth .name_fourth:hover .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}
main .second_block .info_block .img_1:hover ~ .name_fourth {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
  height: 80px;
}
main .second_block .info_block .img_1:hover ~ .name_fourth .old {
  opacity: 0;
}
main .second_block .info_block .img_1:hover ~ .name_fourth .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}
main .second_block .info_block .fifth {
  margin-top: 100px;
}
main .second_block .info_block .fifth .img_1 {
  border-radius: 100%;
  width: 300px;
  height: 302px;
  z-index: 4;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
  margin-top: 460px;
  margin-left: 720px;
  position: absolute;
}
main .second_block .info_block .fifth .img_2 {
  position: absolute;
  z-index: 5;
  margin-top: 450px;
  margin-left: 940px;
  height: 80px;
}
main .second_block .info_block .fifth .name_fifth {
  z-index: 5;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  transition: width 1s;
  background-color: #5EA7FF;
  margin-top: 700px;
  margin-left: 700px;
  position: absolute;
}
main .second_block .info_block .fifth .name_fifth .old {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
  opacity: 1;
}
main .second_block .info_block .fifth .name_fifth .new {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
  opacity: 0;
  margin-top: -65px;
}
main .second_block .info_block .fifth .name_fifth:hover {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
}
main .second_block .info_block .fifth .name_fifth:hover .old {
  opacity: 0;
}
main .second_block .info_block .fifth .name_fifth:hover .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}
main .second_block .info_block .img_1:hover ~ .name_fifth {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
  height: 80px;
  z-index: 5;
  background-color: #5EA7FF;
  margin-top: 700px;
  margin-left: 700px;
  position: absolute;
}
main .second_block .info_block .img_1:hover ~ .name_fifth .old {
  opacity: 0;
}
main .second_block .info_block .img_1:hover ~ .name_fifth .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}
main .second_block .info_block .sixth .img_1 {
  position: absolute;
  border-radius: 100%;
  width: 300px;
  height: 302px;
  z-index: 4;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
  margin-top: 460px;
  margin-left: 1250px;
}
main .second_block .info_block .sixth .img_2 {
  position: absolute;
  z-index: 5;
  height: 80px;
  margin-top: 450px;
  margin-left: 1470px;
}
main .second_block .info_block .sixth .name_sixth {
  position: absolute;
  background-color: #5E63FF;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-top: 690px;
  margin-left: 1230px;
  z-index: 5;
  transition: width 1s;
}
main .second_block .info_block .sixth .name_sixth .old {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
  opacity: 1;
}
main .second_block .info_block .sixth .name_sixth .new {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
  opacity: 0;
  margin-top: -65px;
}
main .second_block .info_block .sixth .name_sixth:hover {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
}
main .second_block .info_block .sixth .name_sixth:hover .old {
  opacity: 0;
}
main .second_block .info_block .sixth .name_sixth:hover .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}
main .second_block .info_block .img_1:hover ~ .name_sixth {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
  height: 80px;
}
main .second_block .info_block .img_1:hover ~ .name_sixth .old {
  opacity: 0;
}
main .second_block .info_block .img_1:hover ~ .name_sixth .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}
main .second_block .info_block .seventh .img_1 {
  position: absolute;
  border-radius: 100%;
  width: 300px;
  height: 302px;
  z-index: 7;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.75);
  margin-top: 850px;
  margin-left: 430px;
}
main .second_block .info_block .seventh .img_2 {
  position: absolute;
  z-index: 8;
  height: 80px;
  margin-top: 840px;
  margin-left: 650px;
}
main .second_block .info_block .seventh .name_seventh {
  position: absolute;
  background-color: #AA00FF;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-top: 1090px;
  margin-left: 410px;
  z-index: 7;
}
main .second_block .info_block .seventh .name_seventh .old {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
  opacity: 1;
}
main .second_block .info_block .seventh .name_seventh .new {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
  opacity: 0;
  margin-top: -65px;
}
main .second_block .info_block .seventh .name_seventh:hover {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
}
main .second_block .info_block .seventh .name_seventh:hover .old {
  opacity: 0;
}
main .second_block .info_block .seventh .name_seventh:hover .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}
main .second_block .info_block .seventh .img_1:hover ~ .name_seventh {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
  height: 80px;
  position: absolute;
  background-color: #AA00FF;
  margin-top: 1090px;
  margin-left: 410px;
  z-index: 7;
}
main .second_block .info_block .seventh .img_1:hover ~ .name_seventh .old {
  opacity: 0;
}
main .second_block .info_block .seventh .img_1:hover ~ .name_seventh .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}
main .second_block .info_block .eighth .img_1 {
  position: absolute;
  border-radius: 100%;
  width: 300px;
  height: 302px;
  z-index: 7;
  box-shadow: 0 14px 28px #000002;
  margin-top: 850px;
  margin-left: 970px;
}
main .second_block .info_block .eighth .img_2 {
  position: absolute;
  z-index: 7;
  height: 80px;
  margin-top: 840px;
  margin-left: 1190px;
}
main .second_block .info_block .eighth .name_eighth {
  position: absolute;
  margin-top: 1090px;
  margin-left: 950px;
  z-index: 7;
  background: linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
  border-radius: 100%;
  width: 80px;
  height: 80px;
}
main .second_block .info_block .eighth .name_eighth .old {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
  opacity: 1;
}
main .second_block .info_block .eighth .name_eighth .new {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 40px;
  font-family: "Amatic_SC";
  margin-top: -65px;
  opacity: 0;
}
main .second_block .info_block .eighth .name_eighth:hover {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
}
main .second_block .info_block .eighth .name_eighth:hover .old {
  opacity: 0;
}
main .second_block .info_block .eighth .name_eighth:hover .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}
main .second_block .info_block .img_1:hover ~ .name_eighth {
  transition: width 500ms ease-in-out;
  width: 330px;
  border-radius: 20px;
  height: 80px;
}
main .second_block .info_block .img_1:hover ~ .name_eighth .old {
  opacity: 0;
}
main .second_block .info_block .img_1:hover ~ .name_eighth .new {
  opacity: 1;
  transition: opacity 1s 100ms ease-in-out;
}

/*block_with_animate*/
.animation_with_frog {
  position: absolute;
  -webkit-user-select: none;
  user-select: none;
}

.animation_with_frog .anim_text #toggle {
  position: absolute;
  background-color: white;
  color: black;
  font-size: 30px;
  border-radius: 10px;
  z-index: 15;
  font-family: "Montserrat_Alternates";
  margin-top: 1900px;
  margin-left: 1400px;
  width: 400px;
  height: 40px;
  text-align: center;
  padding: 10px 5px 10px 5px;
  transform: rotate(-90deg);
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  /* Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
}

.animation_with_frog .anim_text .triangle {
  height: 0px;
  width: 0px;
  border-left: 55px solid white;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  z-index: 14;
  margin-top: 2050px;
  margin-left: 1620px;
  position: absolute;
}

.y-1 .y-1-1 {
  position: absolute;
  margin-top: 2150px;
  margin-left: 1420px;
  z-index: 18;
  height: 200px;
}
.y-1 .y-1-2 {
  position: absolute;
  margin-top: 2100px;
  margin-left: 1410px;
  z-index: 18;
  height: 100px;
}

.y-2 .y-2-1 {
  position: absolute;
  margin-top: 2360px;
  margin-left: 1420px;
  z-index: 18;
  height: 200px;
}
.y-2 .y-2-2 {
  position: absolute;
  margin-top: 2350px;
  margin-left: 1410px;
  z-index: 18;
  height: 100px;
}

.end_feol {
  position: absolute;
  z-index: 17;
  font-size: 40px;
  color: #E7A3FF;
  font-family: "Bad_Script";
  text-align: center;
  background-color: #E7A3FF;
  transform: skew(0deg, 8deg);
  margin-top: 2370px;
  width: 1688px;
  height: 100px;
}
.end_feol p {
  padding-top: 0px;
}

.end_feol::selection {
  color: black;
}

/*orange_block_start*/
.orange_block {
  -webkit-user-select: none;
          user-select: none;
}
.orange_block .first_orange_block {
  position: absolute;
  z-index: 13;
  background-color: #FFBA3D;
  transform: rotate(8deg);
  width: 1716px;
  height: 150px;
  margin-left: -30px;
  margin-top: 2470px;
}
.orange_block .second_orange_block {
  background-color: #FFBA3D;
  position: absolute;
  z-index: 16;
  width: 1716px;
  height: 300px;
  margin-left: -30px;
  margin-top: 2500px;
}
.orange_block .second_orange_block .p1_ob {
  color: white;
  font-size: 50px;
  position: absolute;
  margin-left: 50px;
  margin-top: -60px;
  font-family: "Kiwi_Maru";
  z-index: 15;
}
.orange_block .second_orange_block .p2_ob {
  color: white;
  position: absolute;
  margin-top: 50px;
  margin-left: 150px;
  font-family: "Kiwi_Maru";
  font-size: 30px;
}
.orange_block .second_orange_block .p2_ob_one {
  letter-spacing: -4px;
  font-family: "Kiwi_Maru";
  font-size: 30px;
  color: white;
  position: absolute;
  margin-left: 270px;
  margin-top: 50px;
}
.orange_block .second_orange_block .p2_ob_two {
  letter-spacing: -4px;
  font-family: "Kiwi_Maru";
  font-size: 30px;
  color: white;
  position: absolute;
  margin-top: 50px;
  margin-left: 400px;
}
.orange_block .second_orange_block .p2_ob_three {
  letter-spacing: -4px;
  font-family: "Kiwi_Maru";
  font-size: 30px;
  color: white;
  position: absolute;
  margin-top: 50px;
  margin-left: 580px;
}
.orange_block .second_orange_block .p2_ob_four {
  letter-spacing: -4px;
  font-family: "Kiwi_Maru";
  font-size: 30px;
  color: white;
  position: absolute;
  margin-top: 50px;
  margin-left: 730px;
}
.orange_block .second_orange_block .p2_ob_five {
  letter-spacing: -3px;
  font-family: "Kiwi_Maru";
  font-size: 30px;
  color: white;
  position: absolute;
  margin-top: 50px;
  margin-left: 880px;
}
.orange_block .img_ob img {
  position: absolute;
  height: 90px;
  margin-top: 2600px;
  margin-left: 1210px;
  z-index: 17;
}
.orange_block .img_ob p {
  position: absolute;
  font-size: 80px;
  margin-top: 2680px;
  margin-left: 1185px;
  z-index: 17;
  transform: rotate(90deg);
  font-family: "Merriweather";
}

.blue_block {
  -webkit-user-select: none;
          user-select: none;
  background-color: #9CE4FF;
  width: 1688px;
  height: 2610px;
  position: absolute;
  margin-top: 2800px;
}
.blue_block .background .background1 {
  width: 507.65px;
  height: 894.14px;
  transform: rotate(90deg);
  position: absolute;
  margin-top: -200px;
  margin-left: 129px;
  z-index: 1;
}
.blue_block .background .background2 {
  position: absolute;
  z-index: 1;
  transform: rotate(90deg);
  transform: matrix(0, 1, 1, 0, 0, 0);
  width: 507.65px;
  height: 894.14px;
  margin-top: -200px;
  margin-left: 987px;
}
.blue_block .block_foto1 .first_block_foto1 .img1_foto1 {
  width: 338px;
  height: 332px;
  border-radius: 216px;
  margin-top: 200px;
  margin-left: 655px;
  z-index: 3;
  position: absolute;
}
.blue_block .block_foto1 .first_block_foto1 .img2_foto1 {
  z-index: 3;
  position: absolute;
  margin-top: 160px;
  margin-left: 620px;
  height: 400px;
}
.blue_block .block_foto1 .second_block_foto1 .img3_foto1 {
  position: absolute;
  border-radius: 100%;
  width: 210px;
  height: 215px;
  z-index: 2;
  margin-top: 410px;
  margin-left: 550px;
}
.blue_block .block_foto1 .second_block_foto1 .img4_foto1 {
  position: absolute;
  z-index: 1;
  margin-left: 500px;
  margin-top: 560px;
  height: 240px;
}
.blue_block .block_foto1 .third_block_foto1 .img5_foto1 {
  position: absolute;
  border-radius: 169.5px;
  width: 200px;
  height: 200px;
  margin-left: 940px;
  margin-top: 420px;
  z-index: 1;
}
.blue_block .block_foto1 .third_block_foto1 #img6_foto1 {
  position: absolute;
  z-index: 2;
  margin-left: 1000px;
  margin-top: 300px;
  width: 150px;
}

.block_foto2 .first_block_foto2 .img7_foto2 {
  position: absolute;
  width: 370px;
  height: 369px;
  border-radius: 392px;
  margin-top: 850px;
  margin-left: 360px;
  z-index: 3;
}
.block_foto2 .first_block_foto2 .img8_foto2 {
  position: absolute;
  z-index: 2;
  margin-top: 850px;
  margin-left: 375px;
  height: 400px;
  transform: rotate(59deg);
}
.block_foto2 .second_block_foto2 .img9_foto2 {
  position: absolute;
  width: 283px;
  height: 287px;
  border-radius: 143.5px;
  transform: rotate(12deg);
  z-index: 1;
  margin-top: 1050px;
  margin-left: 210px;
  border-radius: 100%;
}
.block_foto2 .third_block_foto2 .img10_foto2 {
  position: absolute;
  width: 383px;
  height: 369px;
  margin-top: 850px;
  margin-left: 900px;
  border-radius: 184.5px;
  z-index: 2;
}
.block_foto2 .third_block_foto2 .img11_foto2 {
  position: absolute;
  height: 400px;
  margin-top: 850px;
  margin-left: 850px;
  z-index: 1;
}
.block_foto2 .fourth_block_foto2 .img12_foto2 {
  position: absolute;
  width: 207px;
  height: 205px;
  border-radius: 104px;
  z-index: 3;
  margin-top: 1100px;
  margin-left: 1150px;
}
.block_foto2 .fourth_block_foto2 .img13_foto2 {
  position: absolute;
  z-index: 4;
  height: 250px;
  margin-top: 1070px;
  margin-left: 1120px;
}

.animate_blue_block .start_animate img {
  position: absolute;
  width: 301px;
  height: 274px;
  z-index: 1;
  margin-top: 1480px;
  margin-left: -135px;
}
.animate_blue_block .start_animate .dash .dash_one {
  position: absolute;
  transform: rotate(90deg);
  font-size: 150px;
  margin-top: 1500px;
  margin-left: 30px;
  z-index: 1;
}

.sleep .sleep_one {
  position: absolute;
  margin-top: 1350px;
  margin-left: 140px;
  font-size: 72px;
  font-family: "New_Tegomin";
}
.sleep .sleep_two {
  position: absolute;
  font-size: 72px;
  font-family: "New_Tegomin";
  margin-top: 1410px;
  margin-left: 250px;
}
.sleep .sleep_three {
  position: absolute;
  font-size: 72px;
  font-family: "New_Tegomin";
  margin-top: 1470px;
  margin-left: 360px;
}

.dash_two {
  position: absolute;
  transform: rotate(90deg);
  font-size: 150px;
  margin-top: 1575px;
  margin-left: 30px;
  z-index: 2;
}

.dash_two:hover ~ .animate_boll {
  display: block;
  transition: display 2s ease-in-out;
}

.animate_boll {
  border-radius: 100%;
  background-color: #7600D2;
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 1;
  display: none;
  margin-top: 1635px;
  margin-left: 15px;
}

.block_foto3 .first_block_foto3 img {
  position: absolute;
  width: 424px;
  height: 441px;
  border-radius: 212px;
  z-index: 2;
  margin-top: 1400px;
  margin-left: 600px;
}
.block_foto3 .second_block_foto3 img {
  position: absolute;
  width: 372px;
  height: 375px;
  border-radius: 186px;
  z-index: 3;
  margin-top: 1650px;
  margin-left: 350px;
}
.block_foto3 .third_block_foto3 .img16_foto3 {
  position: absolute;
  z-index: 1;
  width: 293px;
  height: 295px;
  border-radius: 176px;
  margin-top: 1650px;
  margin-left: 950px;
}
.block_foto3 .third_block_foto3 #img17_foto3 {
  position: absolute;
  margin-top: 1420px;
  margin-left: 1070px;
  height: 150px;
  z-index: 2;
}
.block_foto3 .third_block_foto3 #img18_foto3 {
  position: absolute;
  margin-top: 1000px;
  margin-left: 1550px;
  z-index: 1;
  height: 250px;
}

.last_block_with_voloters {
  /*first_people_end*/
  /*second_end*/
  /*third_end*/
}
.last_block_with_voloters .start {
  position: absolute;
  margin-top: 4900px;
  margin-left: 500px;
  font-size: 35px;
  z-index: 2;
  font-family: "Poiret_One";
}
.last_block_with_voloters .first_people img {
  margin-top: 5000px;
  margin-left: 150px;
  position: absolute;
  z-index: 5;
  width: 250px;
}
.last_block_with_voloters .first_people .general_a {
  text-decoration: none;
  color: black;
}
.last_block_with_voloters .first_people .general_a .link_first img {
  width: 150px;
  margin-left: 200px;
  margin-top: 5050px;
  cursor: pointer;
  position: absolute;
  z-index: 6;
  opacity: 0;
}
.last_block_with_voloters .first_people .general_a .link_second {
  text-decoration: none;
  margin-top: 5250px;
  width: 300px;
  position: absolute;
  font-size: 40px;
  margin-left: 150px;
  font-family: "Caveat";
  color: black;
}
.last_block_with_voloters .first_people:after {
  content: "";
  position: absolute;
  top: 5000px;
  left: 150px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  width: 245px;
  height: 246px;
  border-radius: 50%;
  z-index: 5;
  transition: 700ms ease-in-out;
}
.last_block_with_voloters .first_people:hover .img {
  border-radius: 50%;
  transition: 500ms ease-in-out;
}
.last_block_with_voloters .first_people:hover:before,
.last_block_with_voloters .first_people:hover:after {
  opacity: 1;
}
.last_block_with_voloters .first_people:hover .general_a .link_first img {
  width: 150px;
  margin-left: 200px;
  margin-top: 5050px;
  cursor: pointer;
  position: absolute;
  z-index: 6;
  opacity: 1;
  transition: 800ms ease-in-out;
}
.last_block_with_voloters .second_people img {
  margin-top: 5000px;
  margin-left: 550px;
  position: absolute;
  z-index: 5;
  width: 250px;
}
.last_block_with_voloters .second_people .general_a {
  text-decoration: none;
  color: black;
}
.last_block_with_voloters .second_people .general_a .link_first img {
  width: 150px;
  margin-left: 600px;
  margin-top: 5050px;
  cursor: pointer;
  position: absolute;
  z-index: 6;
  opacity: 0;
}
.last_block_with_voloters .second_people .general_a .link_second {
  text-decoration: none;
  margin-top: 5250px;
  width: 300px;
  position: absolute;
  font-size: 40px;
  margin-left: 550px;
  font-family: "Caveat";
  color: black;
}
.last_block_with_voloters .second_people:after {
  content: "";
  position: absolute;
  top: 5000px;
  left: 550px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  width: 249px;
  height: 246px;
  border-radius: 50%;
  z-index: 5;
  transition: 700ms ease-in-out;
}
.last_block_with_voloters .second_people:hover .img {
  border-radius: 50%;
  transition: 500ms ease-in-out;
}
.last_block_with_voloters .second_people:hover:before,
.last_block_with_voloters .second_people:hover:after {
  opacity: 1;
}
.last_block_with_voloters .second_people:hover .general_a .link_first img {
  width: 150px;
  margin-left: 600px;
  margin-top: 5050px;
  cursor: pointer;
  position: absolute;
  z-index: 6;
  opacity: 1;
  transition: 800ms ease-in-out;
}
.last_block_with_voloters .third_people img {
  margin-top: 5000px;
  margin-left: 900px;
  position: absolute;
  z-index: 5;
  width: 250px;
}
.last_block_with_voloters .third_people .general_a {
  text-decoration: none;
  color: black;
}
.last_block_with_voloters .third_people .general_a .link_first img {
  width: 150px;
  margin-left: 950px;
  margin-top: 5050px;
  cursor: pointer;
  position: absolute;
  z-index: 6;
  opacity: 0;
}
.last_block_with_voloters .third_people .general_a .link_second {
  text-decoration: none;
  margin-top: 5250px;
  width: 300px;
  position: absolute;
  font-size: 40px;
  margin-left: 917px;
  font-family: "Caveat";
  color: black;
}
.last_block_with_voloters .third_people:after {
  content: "";
  position: absolute;
  top: 5000px;
  left: 900px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  width: 249px;
  height: 246px;
  border-radius: 50%;
  z-index: 5;
  transition: 700ms ease-in-out;
}
.last_block_with_voloters .third_people:hover .img {
  border-radius: 50%;
  transition: 500ms ease-in-out;
}
.last_block_with_voloters .third_people:hover:before,
.last_block_with_voloters .third_people:hover:after {
  opacity: 1;
}
.last_block_with_voloters .third_people:hover .general_a .link_first img {
  width: 150px;
  margin-left: 950px;
  margin-top: 5050px;
  cursor: pointer;
  position: absolute;
  z-index: 6;
  opacity: 1;
  transition: 800ms ease-in-out;
}
.last_block_with_voloters .ford_people img {
  margin-top: 5000px;
  margin-left: 1300px;
  position: absolute;
  z-index: 5;
  width: 250px;
}
.last_block_with_voloters .ford_people .general_a {
  text-decoration: none;
  color: black;
}
.last_block_with_voloters .ford_people .general_a .link_first img {
  width: 150px;
  margin-left: 1350px;
  margin-top: 5050px;
  cursor: pointer;
  position: absolute;
  z-index: 6;
  opacity: 0;
}
.last_block_with_voloters .ford_people .general_a .link_second {
  text-decoration: none;
  margin-top: 5250px;
  width: 300px;
  position: absolute;
  font-size: 40px;
  margin-left: 1290px;
  font-family: "Caveat";
  color: black;
}
.last_block_with_voloters .ford_people:after {
  content: "";
  position: absolute;
  top: 5000px;
  left: 1300px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  width: 245px;
  height: 252px;
  border-radius: 50%;
  z-index: 5;
  transition: 700ms ease-in-out;
}
.last_block_with_voloters .ford_people:hover .img {
  border-radius: 50%;
  transition: 500ms ease-in-out;
}
.last_block_with_voloters .ford_people:hover:before,
.last_block_with_voloters .ford_people:hover:after {
  opacity: 1;
}
.last_block_with_voloters .ford_people:hover .general_a .link_first img {
  width: 150px;
  margin-left: 1350px;
  margin-top: 5050px;
  cursor: pointer;
  position: absolute;
  z-index: 6;
  opacity: 1;
  transition: 800ms ease-in-out;
}

.black_block {
  -webkit-user-select: none;
          user-select: none;
  background-color: black;
  width: 1687px;
  height: 1300px;
  position: absolute;
  margin-top: 5390px;
  z-index: 1;
}
.black_block .start .start1 {
  width: 563px;
}
.black_block .start .start2 {
  margin-left: -4px;
  width: 563px;
}
.black_block .start .start3 {
  margin-left: -4px;
  width: 561px;
}
.black_block .patrons p {
  color: #FF7930;
  text-align: center;
  position: absolute;
  font-size: 50px;
  margin-left: 500px;
  margin-top: 50px;
  font-family: "Train_One";
}
.black_block .ih-item {
  position: relative;
  transition: all 0.35s ease-in-out;
}
.black_block .ih-item,
.black_block .ih-item * {
  box-sizing: border-box;
}
.black_block .ih-item a {
  color: #333;
}
.black_block .ih-item a:hover {
  text-decoration: none;
}
.black_block .ih-item img {
  width: 100%;
  height: 100%;
}
.black_block .ih-item.square {
  position: relative;
  width: 400px;
  height: 316px;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.black_block .ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
}
.black_block .ih-item.square.effect4 {
  overflow: hidden;
  position: relative;
  margin-top: 200px;
  margin-left: 200px;
  border: none;
}
.black_block .ih-item.square.effect4 .img {
  transition: all 0.35s ease-in-out;
}
.black_block .ih-item.square.effect4 .mask1,
.black_block .ih-item.square.effect4 .mask2 {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  height: 490px;
  width: 250px;
  transition: all 0.35s ease-in-out;
}
.black_block .ih-item.square.effect4 .mask1 {
  left: auto;
  right: 80px;
  top: 0;
  transform: rotate(56.5deg) translateX(-180px);
  transform-origin: 100% 0%;
}
.black_block .ih-item.square.effect4 .mask2 {
  top: auto;
  bottom: -10px;
  left: 0;
  transform: rotate(56.5deg) translateX(180px);
  transform-origin: 0% 100%;
}
.black_block .ih-item.square.effect4 .info {
  background: #111111;
  height: 0;
  visibility: hidden;
  width: 1061px;
  margin-left: -50px;
  margin-top: 100px;
  transform: rotate(-33.5deg) translate(-112px, 166px);
  transform-origin: 0% 100%;
  transition: all 0.35s ease-in-out 0.35s;
}
.black_block .ih-item.square.effect4 .info p {
  font-size: 50px;
  position: relative;
  font-family: "Poiret_One";
  color: white;
  padding: 30px 20px 20px;
  text-align: center;
  opacity: 0;
  transition: all 0.35s ease-in-out 0.35s;
}
.black_block .ih-item.square.effect4 a:hover .mask1 {
  transform: rotate(56.5deg) translateX(1px);
  right: 0px;
}
.black_block .ih-item.square.effect4 a:hover .mask2 {
  transform: rotate(56.5deg) translateX(-1px);
  bottom: 45px;
  left: -6px;
}
.black_block .ih-item.square.effect4 a:hover .info {
  width: 400px;
  height: 130px;
  visibility: visible;
  top: 65px;
  margin-left: 0px;
  margin-top: 0px;
  transform: rotate(0deg) translate(0, 0);
}
.black_block .ih-item.square.effect4 a:hover .info p {
  opacity: 1;
}
.black_block .ih-item {
  position: relative;
  transition: all 0.35s ease-in-out;
}
.black_block .ih-item,
.black_block .ih-item * {
  box-sizing: border-box;
}
.black_block .ih-item a {
  color: #333;
}
.black_block .ih-item a:hover {
  text-decoration: none;
}
.black_block .ih-item img {
  width: 100%;
  height: 100%;
}
.black_block .ih-item.square {
  position: relative;
  width: 400px;
  height: 316px;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.black_block .ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
}
.black_block .ih-item.square.effect41 {
  overflow: hidden;
  position: relative;
  margin-top: -310px;
  margin-left: 1000px;
  border: none;
}
.black_block .ih-item.square.effect41 .img {
  transition: all 0.35s ease-in-out;
}
.black_block .ih-item.square.effect41 .mask1,
.black_block .ih-item.square.effect41 .mask2 {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  height: 490px;
  width: 250px;
  transition: all 0.35s ease-in-out;
}
.black_block .ih-item.square.effect41 .mask1 {
  left: auto;
  right: 80px;
  top: 0;
  transform: rotate(56.5deg) translateX(-180px);
  transform-origin: 100% 0%;
}
.black_block .ih-item.square.effect41 .mask2 {
  top: auto;
  bottom: -10px;
  left: 0;
  transform: rotate(56.5deg) translateX(180px);
  transform-origin: 0% 100%;
}
.black_block .ih-item.square.effect41 .info {
  background: #111111;
  height: 0;
  visibility: hidden;
  width: 1061px;
  margin-left: -50px;
  margin-top: 100px;
  transform: rotate(-33.5deg) translate(-112px, 166px);
  transform-origin: 0% 100%;
  transition: all 0.35s ease-in-out 0.35s;
}
.black_block .ih-item.square.effect41 .info p {
  font-size: 50px;
  position: relative;
  font-family: "Poiret_One";
  color: white;
  padding: 20px 20px 20px;
  text-align: center;
  opacity: 0;
  transition: all 0.35s ease-in-out 0.35s;
}
.black_block .ih-item.square.effect41 a:hover .mask1 {
  transform: rotate(56.5deg) translateX(1px);
  right: 0px;
}
.black_block .ih-item.square.effect41 a:hover .mask2 {
  transform: rotate(56.5deg) translateX(-1px);
  bottom: 46px;
  left: -6px;
}
.black_block .ih-item.square.effect41 a:hover .info {
  width: 400px;
  height: 150px;
  visibility: visible;
  top: 65px;
  margin-left: 0px;
  margin-top: 0px;
  transform: rotate(0deg) translate(0, 0);
}
.black_block .ih-item.square.effect41 a:hover .info p {
  opacity: 1;
}
.black_block .text_for_black_block {
  font-size: 35px;
  margin-top: 50px;
  text-align: center;
  -webkit-box-reflect: below 5px linear-gradient(transparent, #0008);
}
.black_block .text_for_black_block a {
  color: #FFD600;
  font-family: "Comfortaa";
  filter: url(#fire);
  text-shadow: 0 0 10px #ff8c3b, 0 0 40px #ff8c3b, 0 0 80px #ff8c3b, 0 0 160px #ff8c3b, 0 0 240px #ff8c3b;
}
.black_block .text_for_black_block svg {
  width: 0;
  height: 0;
}
.black_block .ih-item {
  position: relative;
  transition: all 0.35s ease-in-out;
}
.black_block .ih-item,
.black_block .ih-item * {
  box-sizing: border-box;
}
.black_block .ih-item a {
  color: #333;
}
.black_block .ih-item a:hover {
  text-decoration: none;
}
.black_block .ih-item img {
  width: 100%;
  height: 100%;
}
.black_block .ih-item.square {
  position: relative;
  width: 400px;
  height: 316px;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.black_block .ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
}
.black_block .ih-item.square.effect42 {
  overflow: hidden;
  position: relative;
  margin-top: 150px;
  margin-left: 200px;
  border: none;
}
.black_block .ih-item.square.effect42 .img {
  transition: all 0.35s ease-in-out;
}
.black_block .ih-item.square.effect42 .mask1,
.black_block .ih-item.square.effect42 .mask2 {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  height: 490px;
  width: 250px;
  transition: all 0.35s ease-in-out;
}
.black_block .ih-item.square.effect42 .mask1 {
  left: auto;
  right: 80px;
  top: 0;
  transform: rotate(56.5deg) translateX(-180px);
  transform-origin: 100% 0%;
}
.black_block .ih-item.square.effect42 .mask2 {
  top: auto;
  bottom: -10px;
  left: 0;
  transform: rotate(56.5deg) translateX(180px);
  transform-origin: 0% 100%;
}
.black_block .ih-item.square.effect42 .info {
  background: #111111;
  height: 0;
  visibility: hidden;
  width: 1061px;
  margin-left: -50px;
  margin-top: 100px;
  transform: rotate(-33.5deg) translate(-112px, 166px);
  transform-origin: 0% 100%;
  transition: all 0.35s ease-in-out 0.35s;
}
.black_block .ih-item.square.effect42 .info p {
  font-size: 50px;
  position: relative;
  font-family: "Poiret_One";
  color: white;
  padding: 35px 20px 20px;
  text-align: center;
  opacity: 0;
  transition: all 0.35s ease-in-out 0.35s;
}
.black_block .ih-item.square.effect42 a:hover .mask1 {
  transform: rotate(56.5deg) translateX(1px);
  right: 0px;
}
.black_block .ih-item.square.effect42 a:hover .mask2 {
  transform: rotate(56.5deg) translateX(-1px);
  bottom: 46px;
  left: -6px;
}
.black_block .ih-item.square.effect42 a:hover .info {
  width: 400px;
  height: 140px;
  visibility: visible;
  top: 65px;
  margin-left: 0px;
  margin-top: 0px;
  transform: rotate(0deg) translate(0, 0);
}
.black_block .ih-item.square.effect42 a:hover .info p {
  opacity: 1;
}
.black_block .ih-item {
  position: relative;
  transition: all 0.35s ease-in-out;
}
.black_block .ih-item,
.black_block .ih-item * {
  box-sizing: border-box;
}
.black_block .ih-item a {
  color: #333;
}
.black_block .ih-item a:hover {
  text-decoration: none;
}
.black_block .ih-item img {
  width: 100%;
  height: 100%;
}
.black_block .ih-item.square {
  position: relative;
  width: 400px;
  height: 316px;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.black_block .ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
}
.black_block .ih-item.square.effect43 {
  overflow: hidden;
  position: relative;
  margin-top: -320px;
  margin-left: 1000px;
  border: none;
}
.black_block .ih-item.square.effect43 .img {
  transition: all 0.35s ease-in-out;
}
.black_block .ih-item.square.effect43 .mask1,
.black_block .ih-item.square.effect43 .mask2 {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  height: 490px;
  width: 250px;
  transition: all 0.35s ease-in-out;
}
.black_block .ih-item.square.effect43 .mask1 {
  left: auto;
  right: 80px;
  top: 0;
  transform: rotate(56.5deg) translateX(-180px);
  transform-origin: 100% 0%;
}
.black_block .ih-item.square.effect43 .mask2 {
  top: auto;
  bottom: -10px;
  left: 0;
  transform: rotate(56.5deg) translateX(180px);
  transform-origin: 0% 100%;
}
.black_block .ih-item.square.effect43 .info {
  background: #111111;
  height: 0;
  visibility: hidden;
  width: 1061px;
  margin-left: -50px;
  margin-top: 100px;
  transform: rotate(-33.5deg) translate(-112px, 166px);
  transform-origin: 0% 100%;
  transition: all 0.35s ease-in-out 0.35s;
}
.black_block .ih-item.square.effect43 .info p {
  font-size: 50px;
  position: relative;
  font-family: "Poiret_One";
  color: white;
  padding: 35px 20px 20px;
  text-align: center;
  opacity: 0;
  transition: all 0.35s ease-in-out 0.35s;
}
.black_block .ih-item.square.effect43 a:hover .mask1 {
  transform: rotate(56.5deg) translateX(1px);
  right: 0px;
}
.black_block .ih-item.square.effect43 a:hover .mask2 {
  transform: rotate(56.5deg) translateX(-1px);
  bottom: 46px;
  left: -6px;
}
.black_block .ih-item.square.effect43 a:hover .info {
  width: 400px;
  height: 140px;
  visibility: visible;
  top: 65px;
  margin-left: 0px;
  margin-top: 0px;
  transform: rotate(0deg) translate(0, 0);
}
.black_block .ih-item.square.effect43 a:hover .info p {
  opacity: 1;
}
.black_block .black_block_third {
  position: absolute;
  background-color: white;
  width: 510px;
  height: 350px;
  margin-left: 220px;
  margin-top: 100px;
}
.black_block .black_block_third img {
  height: 400px;
  padding-left: 45px;
  position: absolute;
  margin-top: -25px;
}
.black_block .black_block_forth {
  position: absolute;
  background-color: white;
  width: 510px;
  height: 350px;
  margin-left: 920px;
  margin-top: 100px;
}
.black_block .black_block_forth img {
  height: 300px;
  padding-top: 25px;
  padding-left: 20px;
}

/*footer start*/
footer {
  -webkit-user-select: none;
          user-select: none;
  background-color: #282323;
  height: 500px;
  margin-top: 6680px;
  position: absolute;
  width: 1687px;
}

footer .block_img img {
  margin-left: 40px;
  height: 90px;
  margin-top: 200px;
}

footer .text .block_menu {
  margin-left: 200px;
  font-family: "Open_Sans";
  margin-top: -260px;
  text-shadow: 0 0 10px #FF8C00, 0 0 20px #FF8C00, 0 0 40px #FF8C00, 0 0 80px #FF8C00, 0 0 120px #FF8C00;
}

footer .text .block_menu li {
  display: inline;
  font-size: 40px;
}

footer .text .block_menu li .help {
  padding-right: 220px;
}

footer .text .block_menu li .contacts {
  padding-left: 160px;
  padding-right: 200px;
}

footer .text .block_menu li a {
  text-decoration: none;
  color: white;
}

footer .text .block_for_help {
  margin-left: 200px;
  margin-top: 50px;
  font-family: "Raleway";
  font-size: 18px;
}

footer .text .block_for_help li {
  list-style-type: none;
  padding-bottom: 30px;
}

footer .text .block_for_help a {
  text-decoration: none;
  color: white;
  transition: margin-left 1s;
}

footer .text .block_for_help a:hover {
  color: #ff8c00;
  margin-left: 20px;
  transition: margin-left 1s;
}

footer .text .block_for_menu {
  margin-left: 590px;
  margin-top: -360px;
  font-family: "Raleway";
  font-size: 20px;
}

footer .text .block_for_menu li {
  list-style-type: none;
  padding-bottom: 30px;
}

footer .text .block_for_menu a {
  text-decoration: none;
  color: white;
  transition: margin-left 1s;
}

footer .text .block_for_menu a:hover {
  color: #ff8c00;
  margin-left: 20px;
  transition: margin-left 1s;
}

footer .text .block_for_adress .adress {
  color: white;
  font-family: "Raleway";
  font-size: 25px;
  margin-left: 830px;
  margin-top: -320px;
}

footer .text .block_for_adress .adress a {
  color: white;
  transition: margin-left 1s;
}

footer .text .block_for_adress .adress a:hover {
  color: #ff8c00;
  margin-left: 20px;
  transition: margin-left 1s;
}

footer .text .block_for_adress .amail {
  margin-top: 30px;
  font-family: "Raleway";
  font-size: 25px;
  margin-left: 899px;
}

footer .text .block_for_adress .amail a {
  color: white;
  transition: margin-left 1s;
}

footer .text .block_for_adress .amail a:hover {
  color: #ff8c00;
  margin-left: 20px;
  transition: margin-left 1s;
}

footer .text .block_with_img_link {
  width: 200px;
}

footer .text .block_with_img_link .instagram {
  width: 50px;
  margin-left: 920px;
  margin-top: 50px;
  margin-right: 20px;
  position: absolute;
}

footer .text .block_with_img_link .facebook {
  width: 50px;
  margin-left: 1010px;
  margin-top: 50px;
  position: absolute;
}

footer .text .block_with_img_link .telega {
  width: 50px;
  position: absolute;
  margin-top: 50px;
  margin-left: 1090px;
}

footer .text .block_with_img_link .gmail_youtube .gmail {
  width: 110px;
  margin-top: 120px;
  margin-left: 934px;
  position: absolute;
}

footer .text .block_with_img_link .gmail_youtube .youtube {
  width: 80px;
  position: absolute;
  margin-top: 125px;
  margin-left: 1040px;
}

footer .text .block_with_img {
  position: absolute;
  width: 200px;
}

footer .text .block_with_img .Uk {
  margin-left: 1410px;
  margin-top: -90px;
}

footer .text .block_with_img .Uk .uk {
  width: 80px;
}

footer .text .block_with_img .Ra {
  margin-left: 1410px;
  margin-top: 20px;
}

footer .text .block_with_img .Ra .ra {
  width: 80px;
}

footer .text .block_with_img .Usa {
  margin-left: 1410px;
  margin-top: 20px;
}

footer .text .block_with_img .Usa .usa {
  width: 80px;
}

footer .text .block_with_img .Fr {
  margin-left: 1410px;
  margin-top: 20px;
}

footer .text .block_with_img .Fr .fr {
  width: 80px;
}

footer .text .block_with_img .Ch {
  margin-left: 1410px;
  margin-top: 20px;
}

footer .text .block_with_img .Ch .ch {
  width: 80px;
  z-index: 10;
  position: absolute;
}

footer .line_1 {
  z-index: 0;
  width: 0px;
  height: 0px;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 160px solid #282323;
  margin-left: 1548px;
  margin-top: 270px;
}

footer .line_2 {
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid #282323;
  margin-left: 1310px;
  margin-top: -170px;
}

footer .block_about_cite {
  margin-top: -100px;
  position: absolute;
}

footer .block_about_cite p {
  font-size: 35px;
  margin-left: 50px;
  font-family: "Poiret_One";
}

footer .block_about_cite .insta {
  margin-left: 350px;
  position: absolute;
}

footer .block_about_cite .insta img {
  height: 50px;
  margin-top: -50px;
}

footer .block_about_cite .telega_oleksandr {
  margin-left: 430px;
  position: absolute;
}

footer .block_about_cite .telega_oleksandr img {
  height: 50px;
  margin-top: -55px;
}

footer .block_about_cite .telega_Aahzmandiuss {
  position: absolute;
  margin-left: 510px;
}

footer .block_about_cite .telega_Aahzmandiuss img {
  height: 50px;
  margin-top: -55px;
}

footer .block_about_cite .telega_Dana {
  position: absolute;
  margin-left: 590px;
}

footer .block_about_cite .telega_Dana img {
  height: 50px;
  margin-top: -55px;
}

footer .arrow {
  position: absolute;
  z-index: 0;
}

footer .arrow img {
  margin-top: -150px;
  height: 80px;
  position: absolute;
  margin-left: 1590px;
}