@charset "UTF-8";
/*style*/
@font-face {
  font-family: "BalsamiqSans-Bold";
  font-display: swap;
  src: url("style/Balsamiq_Sans/BalsamiqSans-Bold.ttf");
  src: local("O"), url("style/Balsamiq_Sans/BalsamiqSans-Bold.ttf") format("truetype"), url("style/Balsamiq_Sans/BalsamiqSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "RocknRoll_One";
  font-display: swap;
  src: url("style/RocknRoll_One/RocknRollOne-Regular.ttf");
  src: local("O"), url("style/RocknRoll_One/RocknRollOne-Regular.ttf") format("truetype"), url("style/RocknRoll_One/RocknRollOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  font-display: swap;
  src: url("style/Comfortaa/Comfortaa-VariableFont_wght.ttf");
  src: local("O"), url("style/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype"), url("style/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caveat";
  font-display: swap;
  src: url("style/Caveat/Caveat-VariableFont_wght.ttf");
  src: local("O"), url("style/Caveat/Caveat-VariableFont_wght.ttf") format("truetype"), url("style/Caveat/Caveat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cinzel";
  font-display: swap;
  src: url("style/Cinzel/Cinzel-VariableFont_wght.ttf");
  src: local("O"), url("style/Cinzel/Cinzel-VariableFont_wght.ttf") format("truetype"), url("style/Cinzel/Cinzel-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kurale";
  font-display: swap;
  src: url("style/Kurale/Kurale-Regular.ttf");
  src: local("O"), url("style/Kurale/Kurale-Regular.ttf") format("truetype"), url("style/Kurale/Kurale-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poiret_One";
  font-display: swap;
  src: url("style/Poiret_One/PoiretOne-Regular.ttf");
  src: local("O"), url("style/Poiret_One/PoiretOne-Regular.ttf") format("truetype"), url("style/Poiret_One/PoiretOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("style/Montserrat/Montserrat-Regular.ttf");
  src: local("O"), url("style/Montserrat/Montserrat-Regular.ttf") format("truetype"), url("style/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open_Sans";
  font-display: swap;
  src: url("style/Open_Sans/OpenSans-Light.ttf");
  src: local("O"), url("style/Open_Sans/OpenSans-Light.ttf") format("truetype"), url("style/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("style/Raleway/static/Raleway-Light.ttf");
  src: local("O"), url("style/Raleway/static/Raleway-Light.ttf") format("truetype"), url("style/Raleway/static/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}

.menu {
  background: #F39C12;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.menu a {
  text-decoration: none;
}

.menu nav {
  position: relative;
  display: flex;
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

nav .content {
  display: flex;
}

nav .content .links {
  margin-left: 80px;
  display: flex;
}

.logph {
  width: 70px;
  height: 50px;
  margin-left: 350px;
  margin-top: 10px;
}

.content .links li {
  list-style: none;
  line-height: 70px;
}

.content .links li a,
.content .links li label {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  font-family: "Comfortaa";
  transition: all 0.3s ease;
}

.content .links li label {
  display: none;
}

.content .links .hover:hover {
  text-decoration: line-through;
  transition: 10s ease-in-out;
}

.hover_1 {
  text-decoration: line-through;
}

.menu .menu-icon {
  display: none;
}

.menu input[type=checkbox] {
  display: none;
}

.content .links ul {
  position: absolute;
  background: #f39c12;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.content .links li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}

.content .links ul li a:hover {
  color: #e91e63;
  background-color: white;
}

header {
  width: 1700px;
}
header .foto_and_video img {
  margin-top: 150px;
  margin-left: 250px;
  width: 480px;
  height: 490px;
}
header .foto_and_video video {
  width: 204px;
  height: 500px;
  margin-left: -343px;
  position: absolute;
  z-index: 0px;
  margin-top: 144px;
}
header .block_for_youtube {
  background-color: #FFDFDC;
  margin-left: 300px;
  width: 1140px;
  height: 300px;
  margin-top: -300px;
}
header .block_for_youtube .sucscrib {
  font-family: "BalsamiqSans-Bold";
  font-size: 50px;
  margin-left: 450px;
  padding-top: 30px;
}
header .block_for_youtube .sucscrib a {
  color: black;
  text-decoration: none;
}
header .block_for_youtube .YouTube {
  font-family: "RocknRoll_One";
  margin-left: 650px;
  font-size: 45px;
  margin-top: 20px;
}
header .block_for_youtube .YouTube a {
  color: black;
  text-decoration: none;
}
header .block_for_youtube .nouvell {
  font-family: "BalsamiqSans-Bold";
  font-size: 30px;
  margin-left: 500px;
  margin-top: 30px;
}
header .block_for_youtube .nouvell a {
  color: black;
  text-decoration: none;
}
header .block_for_youtube .observer {
  margin-left: 800px;
  margin-top: 20px;
  font-size: 30px;
  font-family: "Caveat";
}

/*main*/
main {
  width: 1700px;
  /*instagram fini*/
  /*telegram*/
}
main .instagram {
  background-color: #E9F5EF;
  margin-top: 200px;
  height: 850px;
  width: 1700px;
}
main .instagram p {
  font-size: 50px;
  padding-top: 50px;
  margin-left: 300px;
  font-family: "Cinzel";
  width: 300px;
}
main .instagram p a {
  color: black;
  text-decoration: none;
}
main .instagram button {
  background-color: #FFC5D6;
  border: none;
  font-size: 40px;
  padding: 0px 15px 0px 10px;
  font-family: "Caveat";
  margin-left: 1210px;
  height: 30px;
  margin-top: -50px;
  position: absolute;
  z-index: 0;
}
main .instagram button a {
  text-decoration: none;
  color: black;
}
main .instagram .instagram_block_for_foto {
  /*второй абзац*/
}
main .instagram .instagram_block_for_foto .бабушка_1 {
  width: 280px;
  margin-left: 300px;
  margin-top: 50px;
  margin-right: -5px;
  margin-bottom: -5px;
}
main .instagram .instagram_block_for_foto .бабушка_2 {
  width: 285px;
  margin-right: -10px;
  margin-bottom: -5px;
}
main .instagram .instagram_block_for_foto .бабушка_3 {
  width: 320px;
  height: 283px;
  margin-bottom: -5px;
}
main .instagram .instagram_block_for_foto .бабушка_4 {
  width: 280px;
  height: 282px;
  margin-left: -10px;
  margin-bottom: -5px;
}
main .instagram .instagram_block_for_foto .бабушка_5 {
  height: 280px;
  width: 280px;
  margin-left: 300px;
}
main .instagram .instagram_block_for_foto .бабушка_6 {
  width: 285px;
  height: 280px;
  margin-left: -5px;
}
main .instagram .instagram_block_for_foto .бабушка_7 {
  width: 310px;
  height: 280px;
  margin-left: -5px;
}
main .instagram .instagram_block_for_foto .бабушка_8 {
  width: 280px;
  height: 280px;
  margin-left: -5px;
}
main .telegram {
  background-color: #E0FFFF;
  height: 1500px;
  width: 1700px;
}
main .telegram .header-telegram p {
  font-size: 50px;
  font-family: "Cinzel";
  margin-left: 300px;
  padding-top: 50px;
}
main .telegram .header-telegram button {
  border: none;
  background-color: #87CEFA;
  font-size: 40px;
  padding: 0px 15px 0px 10px;
  font-family: "Caveat";
  margin-left: 1210px;
  position: absolute;
  height: 30px;
  margin-top: -50px;
  z-index: 0;
}
main .telegram .header-telegram button a {
  text-decoration: none;
  color: black;
}
main .telegram .telegram_block_for_foto {
  /*block_2*/
}
main .telegram .telegram_block_for_foto .фото_1 {
  width: 380px;
  height: 250px;
  margin-left: 300px;
  margin-right: -5px;
  margin-top: 50px;
  margin-bottom: -5px;
}
main .telegram .telegram_block_for_foto .фото_2 {
  height: 250px;
  width: 280px;
  margin-right: -5px;
  margin-bottom: -5px;
}
main .telegram .telegram_block_for_foto .фото_3 {
  height: 250px;
  margin-right: -5px;
  margin-bottom: -5px;
}
main .telegram .telegram_block_for_foto .фото_4 {
  height: 250px;
  width: 190px;
  margin-right: -5px;
  margin-bottom: -5px;
}
main .telegram .telegram_block_for_foto .фото_5 {
  height: 250px;
  width: 380px;
  margin-right: -5px;
  margin-left: 300px;
}
main .telegram .telegram_block_for_foto .фото_6 {
  height: 250px;
  margin-right: -5px;
  width: 280px;
}
main .telegram .telegram_block_for_foto .фото_7 {
  height: 250px;
  margin-right: -5px;
  width: 305px;
}
main .telegram .telegram_block_for_foto .фото_8 {
  height: 250px;
  width: 190px;
  margin-right: -5px;
}
main .telegram .a_for_fifferent_channel .links {
  font-family: "Poiret_One";
  font-size: 50px;
  margin-top: 50px;
  text-align: center;
}
main .telegram .a_for_fifferent_channel .volunteers p {
  font-size: 40px;
  font-family: "Kurale";
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}
main .telegram .a_for_fifferent_channel .volunteers p a {
  text-decoration: none;
  color: #FF1493;
}
main .telegram .a_for_fifferent_channel .volunteers button {
  background-color: #FF69B4;
  border: none;
  font-size: 40px;
  padding: 0px 15px 0px 10px;
  font-family: "Caveat";
  height: 30px;
  position: absolute;
  z-index: 0;
  margin-left: 1285px;
  margin-top: -90px;
}
main .telegram .a_for_fifferent_channel .volunteers button a {
  text-decoration: none;
  color: black;
}
main .telegram .a_for_fifferent_channel .news p {
  font-family: "Kurale";
  margin-left: 300px;
  font-size: 40px;
  margin-right: 750px;
  margin-bottom: 50px;
}
main .telegram .a_for_fifferent_channel .news p a {
  text-decoration: none;
  color: #FF7F50;
}
main .telegram .a_for_fifferent_channel .news button {
  border: none;
  background-color: #FF7F50;
  font-size: 40px;
  padding: 0px 15px 0px 10px;
  font-family: "Caveat";
  height: 30px;
  position: absolute;
  z-index: 0;
  margin-left: 1110px;
  margin-top: -200px;
}
main .telegram .a_for_fifferent_channel .news button a {
  text-decoration: none;
  color: black;
}
main .telegram .a_for_fifferent_channel .ChatBot p {
  margin-left: 300px;
  font-family: "Kurale";
  font-size: 40px;
  margin-bottom: 30px;
  margin-right: 750px;
}
main .telegram .a_for_fifferent_channel .ChatBot p a {
  color: #00BFFF;
  text-decoration: none;
}
main .telegram .a_for_fifferent_channel .ChatBot button {
  border: none;
  background-color: #00BFFF;
  font-size: 40px;
  padding: 0px 15px 0px 10px;
  font-family: "Caveat";
  height: 30px;
  position: absolute;
  z-index: 0;
  margin-left: 1104px;
  margin-top: -185px;
}
main .telegram .a_for_fifferent_channel .ChatBot button a {
  text-decoration: none;
  color: black;
}
main .telegram .a_for_fifferent_channel .volunteers_lviv p {
  margin-left: 300px;
  font-family: "Kurale";
  font-size: 40px;
}
main .telegram .a_for_fifferent_channel .volunteers_lviv p a {
  text-decoration: none;
  color: #6A5ACD;
}
main .telegram .a_for_fifferent_channel .volunteers_lviv button {
  border: none;
  background-color: #6A5ACD;
  font-size: 40px;
  padding: 0px 15px 0px 10px;
  font-family: "Caveat";
  height: 30px;
  position: absolute;
  z-index: 0;
  margin-left: 1300px;
  margin-top: -40px;
}
main .telegram .a_for_fifferent_channel .volunteers_lviv button a {
  text-decoration: none;
  color: black;
}
main .facebook {
  background-color: #E4C9FF;
  height: 1150px;
  width: 1700px;
}
main .facebook .header_facebook p {
  font-size: 50px;
  padding-top: 50px;
  margin-left: 280px;
  font-family: "Cinzel";
  padding-top: 50px;
}
main .facebook .header_facebook p a {
  text-decoration: none;
  color: black;
}
main .facebook .header_facebook button {
  background-color: #BB89EC;
  border: none;
  font-size: 40px;
  padding: 0px 15px 0px 10px;
  font-family: "Caveat";
  margin-left: 1260px;
  position: absolute;
  height: 30px;
  z-index: 0;
  margin-top: -55px;
}
main .facebook .header_facebook button a {
  text-decoration: none;
  color: black;
}
main .facebook .block_for_img {
  /*block_2*/
}
main .facebook .block_for_img .face_1 {
  width: 280px;
  margin-left: 280px;
  margin-top: 50px;
  margin-right: -5px;
  margin-bottom: -5px;
}
main .facebook .block_for_img .face_2 {
  height: 281px;
  width: 600px;
  margin-right: -5px;
  margin-bottom: -5px;
}
main .facebook .block_for_img .face_3 {
  margin-right: -5px;
  margin-bottom: -5px;
  height: 280px;
  width: 340px;
}
main .facebook .block_for_img .face_4 {
  height: 310px;
  width: 279px;
  margin-left: 280px;
  margin-right: -5px;
}
main .facebook .block_for_img .face_5 {
  width: 245, 375px;
  height: 310px;
  margin-right: -5px;
}
main .facebook .block_for_img .face_6 {
  width: 200px;
  height: 310px;
  margin-right: -5px;
}
main .facebook .block_for_img .face_7 {
  width: 245px;
  height: 310px;
  margin-right: -5px;
}
main .facebook .block_for_img .face_8 {
  width: 250px;
  height: 310px;
}
main .facebook .block_main .name p {
  font-family: "Poiret_One";
  font-size: 50px;
  margin-top: 50px;
  text-align: center;
}
main .facebook .block_main .first_block_main p {
  font-size: 40px;
  font-family: "Kurale";
  margin-left: 280px;
  margin-top: 50px;
  margin-bottom: 50px;
}
main .facebook .block_main .first_block_main p a {
  text-decoration: none;
  color: #4B0082;
}
main .facebook .block_main .first_block_main button {
  background-color: #9370DB;
  border: none;
  height: 30px;
  font-size: 40px;
  padding: 0px 15px 0px 10px;
  font-family: "Caveat";
  margin-left: 1180px;
  margin-top: -90px;
  position: absolute;
  z-index: 0;
}
main .facebook .block_main .first_block_main button a {
  text-decoration: none;
  color: black;
}
main .facebook .block_main .second_block_main p {
  font-size: 40px;
  font-family: "Kurale";
  margin-left: 280px;
  margin-top: 50px;
  margin-bottom: 50px;
}
main .facebook .block_main .second_block_main p a {
  text-decoration: none;
  color: #4B0082;
}
main .facebook .block_main .second_block_main button {
  background-color: #BA55D3;
  border: none;
  height: 30px;
  font-size: 40px;
  padding: 0px 15px 0px 10px;
  font-family: "Caveat";
  margin-left: 1335px;
  margin-top: -95px;
  position: absolute;
  z-index: 0;
}
main .facebook .block_main .second_block_main button a {
  text-decoration: none;
  color: black;
}
main .facebook .footer {
  height: 500px;
}
main .facebook .footer .adress {
  font-size: 50px;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 150px;
}
main .facebook .footer .block_and {
  background: #f54056;
  background: linear-gradient(59deg, #f54056 23%, #944cab 60%, #4056f5 100%);
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: none;
  font-size: 50px;
  color: white;
  margin-left: 770px;
  margin-top: 50px;
}
main .facebook .footer .block_and p {
  margin-bottom: 10px;
}
main .facebook .footer .block_and:hover {
  width: 950px;
  transition: all 500ms ease-in-out;
  margin-left: 370px;
}
main .facebook .footer .block_and:hover .and span {
  display: none;
}
main .facebook .footer .block_and:hover .and:after {
  content: "#получен навык: Супер книжный червь";
}
main .facebook .footer .amail {
  text-align: center;
  margin-top: 50px;
}
main .facebook .footer .amail a {
  font-size: 40px;
  font-family: "Montserrat";
}

/*footer start*/
footer {
  background-color: #282323;
  height: 500px;
  margin-top: 470px;
  position: absolute;
  width: 1700px;
}
footer .block_img img {
  margin-left: 40px;
  height: 90px;
  margin-top: 200px;
}
footer .text .block_menu {
  margin-left: 200px;
  font-family: "Open_Sans";
  margin-top: -260px;
  text-shadow: 0 0 10px #FF8C00, 0 0 20px #FF8C00, 0 0 40px #FF8C00, 0 0 80px #FF8C00, 0 0 120px #FF8C00;
}
footer .text .block_menu li {
  display: inline;
  font-size: 40px;
}
footer .text .block_menu li .help {
  padding-right: 220px;
}
footer .text .block_menu li .contacts {
  padding-left: 160px;
  padding-right: 200px;
}
footer .text .block_menu li a {
  text-decoration: none;
  color: white;
}
footer .text .block_for_help {
  margin-left: 200px;
  margin-top: 50px;
  font-family: "Raleway";
  font-size: 18px;
}
footer .text .block_for_help li {
  list-style-type: none;
  padding-bottom: 30px;
}
footer .text .block_for_help a {
  text-decoration: none;
  color: white;
  transition: margin-left 1s;
}
footer .text .block_for_help a:hover {
  color: #ff8c00;
  margin-left: 20px;
  transition: margin-left 1s;
}
footer .text .block_for_menu {
  margin-left: 590px;
  margin-top: -360px;
  font-family: "Raleway";
  font-size: 20px;
}
footer .text .block_for_menu li {
  list-style-type: none;
  padding-bottom: 30px;
}
footer .text .block_for_menu a {
  text-decoration: none;
  color: white;
  transition: margin-left 1s;
}
footer .text .block_for_menu a:hover {
  color: #ff8c00;
  margin-left: 20px;
  transition: margin-left 1s;
}
footer .text .block_for_adress .adress {
  color: white;
  font-family: "Raleway";
  font-size: 25px;
  margin-left: 830px;
  margin-top: -320px;
}
footer .text .block_for_adress .adress a {
  text-decoration: none;
  color: white;
  transition: margin-left 1s;
}
footer .text .block_for_adress .adress a:hover {
  color: #ff8c00;
  margin-left: 20px;
  transition: margin-left 1s;
}
footer .text .block_for_adress .amail {
  margin-top: 30px;
  font-family: "Raleway";
  font-size: 25px;
  margin-left: 899px;
}
footer .text .block_for_adress .amail a {
  text-decoration: none;
  transition: margin-left 1s;
}
footer .text .block_for_adress .amail a:hover {
  color: #ff8c00;
  margin-left: 20px;
  transition: margin-left 1s;
}
footer .text .block_with_img_link {
  width: 200px;
}
footer .text .block_with_img_link .instagram {
  width: 50px;
  margin-left: 920px;
  margin-top: 50px;
  margin-right: 20px;
  position: absolute;
}
footer .text .block_with_img_link .facebook {
  width: 50px;
  margin-left: 1010px;
  margin-top: 50px;
  position: absolute;
}
footer .text .block_with_img_link .telega {
  width: 50px;
  position: absolute;
  margin-top: 50px;
  margin-left: 1090px;
}
footer .text .block_with_img_link .gmail_youtube .gmail {
  width: 110px;
  margin-top: 120px;
  margin-left: 934px;
  position: absolute;
}
footer .text .block_with_img_link .gmail_youtube .youtube {
  width: 80px;
  position: absolute;
  margin-top: 125px;
  margin-left: 1040px;
}
footer .text .block_with_img {
  position: absolute;
  width: 200px;
}
footer .text .block_with_img .Uk {
  margin-left: 1410px;
  margin-top: -90px;
}
footer .text .block_with_img .Uk .uk {
  width: 80px;
}
footer .text .block_with_img .Ra {
  margin-left: 1410px;
  margin-top: 20px;
}
footer .text .block_with_img .Ra .ra {
  width: 80px;
}
footer .text .block_with_img .Usa {
  margin-left: 1410px;
  margin-top: 20px;
}
footer .text .block_with_img .Usa .usa {
  width: 80px;
}
footer .text .block_with_img .Fr {
  margin-left: 1410px;
  margin-top: 20px;
}
footer .text .block_with_img .Fr .fr {
  width: 80px;
}
footer .text .block_with_img .Ch {
  margin-left: 1410px;
  margin-top: 20px;
}
footer .text .block_with_img .Ch .ch {
  width: 80px;
  z-index: 10;
  position: absolute;
}
footer .line_1 {
  z-index: 0;
  width: 0px;
  height: 0px;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 160px solid #282323;
  margin-left: 1560px;
  margin-top: 275px;
}
footer .line_2 {
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid #282323;
  margin-left: 1310px;
  margin-top: -170px;
}
footer .block_about_cite {
  margin-top: -100px;
  position: absolute;
}
footer .block_about_cite p {
  font-size: 35px;
  margin-left: 50px;
  font-family: "Poiret_One";
}
footer .block_about_cite .insta {
  margin-left: 350px;
  position: absolute;
}
footer .block_about_cite .insta img {
  height: 50px;
  margin-top: -50px;
}
footer .block_about_cite .telega_oleksandr {
  margin-left: 430px;
  position: absolute;
}
footer .block_about_cite .telega_oleksandr img {
  height: 50px;
  margin-top: -55px;
}
footer .block_about_cite .telega_Aahzmandiuss {
  position: absolute;
  margin-left: 510px;
}
footer .block_about_cite .telega_Aahzmandiuss img {
  height: 50px;
  margin-top: -55px;
}
footer .block_about_cite .telega_Dana {
  position: absolute;
  margin-left: 590px;
}
footer .block_about_cite .telega_Dana img {
  height: 50px;
  margin-top: -55px;
}
footer .arrow {
  position: absolute;
  z-index: 0;
}
footer .arrow img {
  margin-top: -150px;
  height: 80px;
  position: absolute;
  margin-left: 1600px;
}